body {
	font-family: "Segoe UI",Arial,sans-serif;
}
div.headerContainer {
	font-weight: bold;
	font-size: 3em;
    background-color: lightgrey;
}
span.divisionUniqueShooters {
	font-weight: normal;
	font-size: .6em;
}
span.classUniqueShooters {
	font-weight: normal;
	font-size: .6em;
}
div.descriptionContainer {
	padding-bottom:1cm;
}
div.divisionContainer {
}
div.divisionHeaderContainer {
	font-weight: bold;
	font-size: 2em;
    background-color: lightgrey;
}
div.divisionBodyContainer {

}
div.classContainer {
	padding-left: 1cm; 
}
div.classHeaderContainer {
	font-weight: bold;
	font-size: 1.4em;
}
div.classBodyContainer{

}
div.resultLinks{
	font-weight: bold;
	font-size: .8em;
}